<div class="alert alert-success" ng-show="signinsuccess">
 <span>{{message}}</span>
 </div>
 <div class="alert alert-danger" ng-hide="signinerror">
 <span>{{message}}</span>
</div>
<form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="username" ng-model='user.username' required="" autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" ng-model='user.password' placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="SignIn(user)">Login</button><br>
         <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="SignUpPage()">SignUp</button>
</form>
<!-- <link href="/css/Form.css" rel="stylesheet" type="text/css"/> -->